.login-container {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,1);
    padding: 40px;
    background: rgba(255,255,255,0.4);
    border: 2px solid rgba(67,67,67,1);
    width: 275px;
    height: 350px;
    border-radius: 2px;
}

.login-form input {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid rgba(67,67,67,1);
    background: transparent;
    height: 40px;
    outline: none;
    color: rgba(67,67,67,1);
}

::-webkit-input-placeholder{
    color: rgba(67,67,67,1);
    font-weight: lighter;
    font-size: smaller;
    font-style: italic;
}

.login-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.login-button {
    background: transparent;
    border: 1px solid rgba(67,67,67,1);
    border-radius: 2px;
    color: rgba(67,67,67,1);
    margin-top: 10px;
    padding: 6px;
    cursor: pointer;
}

.login-button:hover {
    opacity: 0.5;
}

.create-account {
    display: flex;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    padding-top: 20px;
    color: rgba(67,67,67,1);
}

.error-inlog {
    color: rgba(255,0,0,1);
    font-size: 11px;
    padding-bottom: 15px;
}

.error-send-login {
    display: flex;
    justify-content: center ;
    align-items: center;
    color: rgba(255,0,0,1);
    font-size: 11px;
    padding-top: 15px;
}







