.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    background: rgba(255,255,255,0.4);
    color: rgba(0,0,0,1);
    width: 325px;
    height: 950px;
    border-radius: 2px;
    border: 2px solid grey;
}

.register-form input {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid rgba(67,67,67,1);
    background: transparent;
    height: 30px;
    outline: none;
    color: rgba(67,67,67,1);

}

.login-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.register-button {
    background: transparent;
    border: 1px solid rgba(67,67,67,1);
    border-radius: 2px;
    color: rgba(67,67,67,1);
    margin-top: 10px;
    padding: 6px;
}

.register-button:hover {
    opacity: 0.5;
}

.error-register {
    color: rgba(255,0,0,1);
    font-size: 11px;
    padding-bottom: 15px;
}

.error-register-from {
    display: flex;
    justify-content: center ;
    align-items: center;
    color: rgba(255,0,0,1);
    font-size: 11px;
    padding-top: 15px;

}
.succesmessage {
    color: rgba(0,134,139, 0.8);
    font-size: 13px;
    padding-top: 15px;
}
