.lesson-form {
    display: flex;
    flex-direction: column;
    border-style: solid 1px;
    border-width: 1px;
    padding: 30px;
    width: 300px;
    background-color: rgba(0,134,139, 0.8);
    border-radius: 2px;
}

.lesson-form label {
    margin: 4px 0;
    font-weight: bold;
    color: rgba(255,255,255,1);
}

.lesson-form input {
    width: 100%;
    padding: 4px 8px;
    margin: 6px 0;
    background: transparent;
    border: none;
    outline: none;
    color: rgba(255,255,255,1);
}

.savenewlesson {
    margin-top: 15px;
    background: transparent;
    border: 1px solid rgba(255,255,255,1);
    border-radius: 2px;
    color: rgba(255,255,255,1);
    padding: 6px;
    width: 80px;
    cursor: pointer;
}

.savenewlesson:hover {
    opacity: 0.5;
}

.save-button-new-lesson {
    display: flex;
    justify-content: center;
}

.new-les-error {
    color: rgba(255,0,0,1);
    font-size: 11px;
    margin-top: 15px;
}
