.contactbox {
    display: flex;
    justify-content: center;
}

.contactform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    width: 300px;
    margin: 25px;
}

.contactform label {
    margin: 4px 0;
    font-weight: bold;
}

.send {
    margin-top: 15px;
}

