.contactbox {
    display: flex;
    justify-content: center;
}

.contactform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    width: 300px;
    margin: 25px;
    background-color: rgba(0,134,139, 0.8);
}

.contactform label {
    margin-top: 10px;
    font-weight: bold;
    color: white;
}

.contactform input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    height: 25px;
    color: white;
}

.contactform textarea {
    margin-top: 10px;
    background-color: transparent;
    border-color: white;
}

.sendbutton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.send {
    background: transparent;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    padding: 6px;
    margin-top: 15px;
    width: 85px;
}

