.login-container {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 40px;
    background: rgba(255,255,255,0.4);
    border: 2px solid grey;
    width: 275px;
    height: 350px;
    border-radius: 2px;
}

.login-form input {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid grey;
    background: transparent;
    height: 40px;
    outline: none;
    color: grey;
}

::-webkit-input-placeholder{
    color: darkgrey;
    font-weight: lighter;
    font-size: smaller;
    font-style: italic;
}

.login-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.login-button {
    background: transparent;
    border: 1px solid grey;
    border-radius: 2px;
    color: grey;
    margin-top: 10px;
    padding: 6px;
}

.login-button:hover {
    opacity: 0.5;
}

.create-account {
    display: flex;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    padding-top: 20px;
    color: grey;
}

.error-inlog {
    color: darkred;
    font-size: 11px;
    padding-bottom: 15px;
}

.error-send-login {
    display: flex;
    justify-content: center ;
    align-items: center;
    color: darkred;
    font-size: 11px;
    padding-top: 15px;
}









/*.user {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    top: 50px;*/
/*    left: calc(50% - 50px);*/
/*}*/

/*.login-box {*/
/*    !*display: flex;*!*/
/*    !*flex-direction: column;*!*/
/*    !*justify-content: center;*!*/
/*    !*align-items: center;*!*/
/*    !*min-height: 100vh;*!*/
/*    background-color: greenyellow;*/
/*    width: 320px;*/
/*    height: 420px;*/
/*    background: rgba(0,0,0,0.5);*/
/*    color: greenyellow;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    position: absolute;*/
/*    transform: translate(-50%, -50%);*/
/*    box-sizing: border-box;*/
/*    padding: 70px 30px;*/
/*}*/



/*h2 {*/
/*    margin: 0;*/
/*    padding: 0 0 20px;*/
/*    text-align: center;*/
/*    font-size: 22px;*/
/*}*/

/*.login-box p {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-weight: bold;*/
/*}*/




/*.login-box input[type="submit"] {*/
/*    border: none;*/
/*    outline: none;*/
/*    height: 40px;*/
/*    background: whitesmoke;*/
/*    color: black;*/
/*    font-size: 18px;*/
/*    border-radius: 20px;*/
/*}*/

/*.login-box input[type="submit"]:hover {*/
/*    cursor: pointer;*/
/*    background: lightslategrey;*/
/*    color: white;*/
/*}*/

/*.login-box a{*/
/*    text-decoration: none;*/
/*    font-size: 14px;*/
/*    color: #fff;*/
/*}*/

/*.login-box a:hover{*/
/*    color: lightslategrey;*/
/*}*/



