.logo-button {
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
}

.log-out-icon {
    cursor: pointer;
    width: 27px;
    height: 27px;
}

.nav-container {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgba(0,134,139, 0.8);
}

nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 60px;
}

ul {
    list-style-type: none;
    flex-basis: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

a,
a:visited,
a:hover {
    color: black;
    text-decoration: none;
}

.active-link {
    border-bottom: 3px solid black;
}
