.member-details {
    padding: 25px;
    border-style: solid;
    border-width: 1px;
    width: 330px;
    height: 200px;
    margin: 10px;
    background-color: rgba(0,134,139, 0.8);
    color: white;
    border-radius: 2px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.button-update-delete-member {
    background: transparent;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    padding: 6px;
    cursor: pointer;
}

.button-update-delete-member:hover {
    opacity: 0.5;
}

.message-errordelete {
    color: darkred;
    font-size: 11px;
}
