.update-container {
    display: flex;
    justify-content: center;
}

.update-member-form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    width: 300px;
    height: 600px;
    margin: 25px;
    color: rgba(255,255,255,1);
    background-color: rgba(0,134,139, 0.8);
    border-radius: 2px;
}

.update-member-form label {
    margin: 4px 0;
    font-weight: bold;
}

.update-member-form input {
    padding: 2px 6px;
    margin: 2px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,1);
    width: 250px;
    color: rgba(255,255,255,1);
    outline: none;
}

.close {
    background: transparent;
    border: none;
    outline: none;
    color: rgba(255,255,255,1);
    position: absolute;
    width: 25px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.update-member-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.savebutton {
    background: transparent;
    border: 1px solid rgba(255,255,255,1);
    border-radius: 2px;
    color: rgba(255,255,255,1);
    padding: 6px;
    cursor: pointer;
}

.savebutton:hover {
    opacity: 0.5;
}

.error-update {
    color: rgba(255,0,0,1);
    font-size: 11px;
    margin-bottom: 5px;
}

.update-message-error{
    display: flex;
    justify-content: center ;
    align-items: center;
    color: rgba(255,0,0,1);
    font-size: 11px;
    padding-top: 15px;
}
