@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@media screen and (min-width: 576px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Quicksand', 'Arial', sans-serif;
    }

    /*body {*/
    /*    background: url("achtergrond-afbeelding.jpg") no-repeat top center;*/
    /*    background-size: cover;*/
    /*}*/

    a,
    a:visited,
    a:hover {
        color: white;
        text-decoration: none;
    }

    .active-link {
        border-bottom: 3px solid white;
    }

}
