.adminhomepage {
    display: flex;
    flex-direction: column;
}

.columns {
    padding: 30px;
}

.admininfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.changepasswordadmin {
    padding-top: 25px;
    display: flex;
    justify-content: center;
}
