.members {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.lastname {
    display: flex;
    justify-content: center;
}

.searchbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.searchbar input {
    width: 200px;
    padding: 5px;
    margin-bottom: 6px;
}


